<main class="main">
  <div class="content">
    Welcome

    <!-- src/app/app.component.html -->
    <div>
      <h1>User List</h1>
    
      <!-- Display the list of users -->
      <ul>
        <li *ngFor="let user of users">{{ user.name }} - Age: {{ user.age }}</li>
      </ul>
    
      <h2>Add New User</h2>
      
      <!-- Button to add a hardcoded user -->
      <button (click)="addUser()">Add New User</button>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
